/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 0;
}
.camera_wrap img {
	max-width: none !important;
}
.camera_fakehover {
	height: 100%;
	min-height: 40px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../img/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../img/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.camera_prev, .camera_next{
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	z-index: 100;
}
.camera_prev{left: 21px;}
.camera_next{right: 21px;}
.camera_prev span, .camera_next span{
	display: block;
	width: 57px;
	height: 57px;
	cursor: pointer;
}


.camera_prev span{background: url(../img/prev.png) 0 0 no-repeat;}
.camera_next span{background: url(../img/next.png) 0 0 no-repeat;}
.camera_prev span:hover, .camera_next span:hover{background-position: 0 bottom;}

.camera_pag_ul{
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: -40px;
	text-align: center;
	overflow: hidden;
}
.camera_pag_ul li{
	display: inline-block;
	overflow: hidden;
	margin: 0 5px;
}
.camera_pag_ul li span{
	cursor: pointer;
	display:block;
	width: 13px;
	height: 13px;
	background: url(../img/pagination.png) right 0 no-repeat;
	text-indent: -100px;
}
.camera_pag_ul li span:hover , .camera_pag_ul li.cameracurrent span{background-position: 0 0;}

.camera-caption{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 1px;
	height: 95px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../img/bg-banner.png) 0 0 repeat;
	padding: 16px 0 0 108px;
	line-height: 1em;
}
.camera-caption strong{
	font-size: 33px;
	line-height: 1em;
	display: block;
	color: #fff;
	margin-bottom: 3px;
}
.camera-caption>span{
	color: #fa3d33;
	font-size: 20px;
	line-height: 1em;
	font-weight: bold;
	display: inline-block;
	margin-right: 5px;
}
.camera-caption a{
	font-size: 20px;
	line-height: 1em;
	color: #ffe646;
	font-weight: bold;
}
.camera-caption a:hover{color: #00c545;}
.camera-caption a:hover span{color: #00c545;}
.camera-caption a span{
	font-weight: normal;
	color: #ffe646;
}

#banner_col1{border-top: 7px solid #fa3d33;}

#banner_col2{border-top: 7px solid #00c545;}
#banner_col2>span{color: #00c545;}

#banner_col3{border-top: 7px solid #1eb0e8;}
#banner_col3>span{color: #1eb0e8;}

#banner_col4{border-top: 7px solid #fa3d33;}
#banner_col4>span{color: #fa3d33;}

#banner_col5{border-top: 7px solid #00c545;}
#banner_col5>span{color: #00c545;}

#banner_col6{border-top: 7px solid #1eb0e8;}
#banner_col6>span{color: #1eb0e8;}




.slider{
	margin: 50px 0 0 0;
	padding-bottom: 48px;
	overflow: hidden;
	min-height: 300px;
}
@media (min-width: 1200px) {
.slider{min-height: 400px;}
.camera-caption{padding: 16px 0 0 148px;}

}

@media (max-width: 979px){
	.camera-caption{padding: 16px 10px 0 10px;}
	.camera-caption strong{
		font-size: 23px;
	}
	.camera-caption>span{font-size: 15px;}
}
@media (max-width: 767px) {
	.slider{min-height: 200px;}
}

@media (max-width: 626px) {
	.slider{min-height: 100px;}
		.camera-caption{display: none;}
		.camera_prev, .camera_next{margin-top: -13px;}
		.camera_prev span, .camera_next span{
			width: 28px;
			height: 28px;
			background-size: 100%;
		}
	}
