form.jqtransformdone label{
    display: inline-block;
}
form.jqtransformdone div.rowElem{
	clear:both;
}

/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;}
.jqTransformRadio {
	background:#F00;
	vertical-align: top;
	height: 22px;
	width: 19px;
	display:block;/*display: -moz-inline-block;*/
}
/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block; 
	overflow:hidden;
	margin:0px 0px 0 0px;
	padding-right:0px;
}
a.jqTransformCheckbox {
	background:#F00;
	vertical-align: middle;
	height: 21px;
	width: 21px;
	display:block;/*display: -moz-inline-block;*/
}
/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
.jqTransformRadioWrapper a.jqTransformChecked { background-position: right 0;}
.jqTransformCheckboxWrapper a.jqTransformChecked { background-position: right 0;}
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	position:relative;
	margin: 0;
	background:#f9f9f9;
	border: 1px solid #d0d0d0;
	font-size:11px;
	padding: 2px 0;
	font-size: 12px;
	line-height: 20px;
	color: #343333;
	width: 199px;
	cursor: pointer;
}
.jqTransformSelectWrapper div{
	margin-right: 34px;
	border-right: 1px solid #d0d0d0;
	height: 32px;
	padding: 8px 15px 4px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	position:absolute;
	z-index:99;
	display:block;
	right: 8px;
	top: 14px;
	width: 19px;
	height: 12px;
	background: url(../img/arrow-form.png) 0 0 no-repeat;
}
.jqTransformSelectWrapper:hover  a.jqTransformSelectOpen {
	background:url(../img/arrow-form.png) 0  bottom no-repeat;
}
.jqTransformSelectWrapper ul {
    display: none;
    height: 150px;
    margin: 0 0px 0 0 !important; 
    padding: 0;
	overflow-y:auto;
    position: absolute;
	left:-1px;
	right: -1px !important;
	top:37px !important;
	list-style: none;
	z-index:10;	
	width: auto !important;

}

.jqTransformSelectWrapper ul a {
	display: block;
	font-size:12px; 
	line-height:20px; 
	color:#b5b5b5;
	font-weight:normal;
	background: #fff;
	padding: 6px 10px 6px 10px;
	border:1px solid #d0d0d0;
	margin-top: -1px;
}


.jqTransformSelectWrapper ul a.selected {
	color:#000;
	background:#fff;
}

.jqTransformSelectWrapper ul a:hover {
	color:#f4dd1d;
	background:#333;}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

.d-block .link-form{
	float: left;
	display: inline-block;
	margin: 10px 0 0 0;
	font-size: 13px;
	font-weight: bold;
}
.d-block .btn-2{
	margin: 4px 17px 0 0;
	float: left;
	font-size: 15px ;
}
.box-1{
	float:left;
	padding: 4px 0 0 0;
	margin: 0 9px 0 0;
}
	
@media (min-width: 1200px) {
	.d-block .link-form{margin: -3px 0 0 0;}
}
@media (min-width: 768px) and (max-width: 979px) {
	.d-block .link-form{
		margin: 12px 0 0 5px;
		float: none;
	}
	.d-block .btn-2{
		margin: 10px 0 0 0;
		float: none;
	}
}	

@media (max-width: 767px) {
	.d-block .btn-2{
		margin: 10px 0 0 0;
		float: none;
	}
	.d-block .link-form{
		float: none;
		margin: 5px 0 0 0;
	}
	.box-1{
		float: none;
	}
	.jqTransformSelectWrapper{width: 100%;}
}