/*------ template stylization ------*/
p {
  margin-bottom: 19px;
}
/* headings, text */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a {
  outline: none;
}
h2 {
  position: relative;
  display: block;
  color: #343333;
  padding: 47px 0 12px 0;
  margin: 0 0 26px 0;
  border-bottom: 1px solid #c7c7c7;
  font-size: 27px;
  line-height: 1em;
}

// Stolen Styles

h3.review  {
    background-color: #FFF0D1 !important;
    color: #333333 !important;
    font-size: 12px !important;
    padding: 5px !important;
}


.font17 {
  font-size: 17px;
  line-height: 22px;
  color: #1eb0e8;
  font-weight: bold;
}
.font14 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #fa3d33;
}
.font14.col14 {
  color: #00c545;
}
a.font14.col14:hover {
  color: #fe9601;
}
.font14.col14_1 {
  color: #fe9601;
}
a.font14.col14_1:hover {
  color: #00c545;
}
.font14-simple {
  font-size: 14px;
  font-weight: bold;
}
.link {
  font-size: 13px;
  color: #1eb0e8;
  font-weight: bold;
  line-height: 19px;
}
.link:hover {
  color: #00c545;
}
#content ul {
  list-style: none;
}
.dis-block {
  display: block;
}
.left-0 {
  margin-left: 0 !important;
}
.last-mbot {
  margin-bottom: 0 !important;
}
.marg-0 {
  padding-top: 0 !important;
  margin: 0;
}
.wrapper,
.extra-wrap {
  overflow: hidden;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
/*=================My styles of bootstrap================*/
.hov:hover {
  color: #3cbaeb;
}
.btn-1 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  text-shadow: none;
  z-index: 1;
  padding: 10px 24px 11px 24px;
  border: none;
  color: #000;
  text-decoration: none;
  text-align: center;
  border: 1px solid #c7c7c7;
  font-weight: bold;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #ffffff, #fbfafa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fbfafa));
  background-image: -webkit-linear-gradient(top, #ffffff, #fbfafa);
  background-image: -o-linear-gradient(top, #ffffff, #fbfafa);
  background-image: linear-gradient(to bottom, #ffffff, #fbfafa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffbfafa', GradientType=0);
  font-size: 15px ;
  line-height: 1em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-1:hover {
  outline: none;
  background: #00c545;
  color: #ffffff;
  text-shadow: none;
}
.btn-2 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 11px 24px 12px 24px;
  border: none;
  background: #181818;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  font-weight: bold;
  font-size: 15px ;
  line-height: 1em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-2:hover {
  outline: none;
  background: #00c545;
  color: #ffffff;
  text-shadow: none;
}
/*==================list=================*/
.list {
  display: block;
  overflow: hidden;
  margin: 0 0 0 0;
}
.list li {
  display: block;
  overflow: hidden;
  margin: 0 0 26px 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #c7c7c7;
}
.list li .img-polaroid {
  float: left;
  margin: 4px 20px 0 0;
}
.list-1 {
  display: block;
  *zoom: 1;
  margin: 0;
}
.list-1:before,
.list-1:after {
  display: table;
  content: "";
  line-height: 0;
}
.list-1:after {
  clear: both;
}
.list-1 li {
  display: block;
  overflow: hidden;
  margin: 0 0 16px 0;
  padding: 26px 0 8px 0;
  border-top: 1px solid #c7c7c7;
}
.list-1 li:first-child {
  border-top: none;
  padding-top: 0;
}
.list-1 li > span {
  float: left;
  width: 31px;
  height: 31px;
  color: #000000;
  display: block;
  text-align: center;
  background: #ffe646;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 620px;
  -moz-border-radius: 620px;
  border-radius: 620px;
  padding: 4px 0 0 0;
  margin: 4px 13px 0 0;
}
.list-reviews {
  display: block;
  margin: 44px 0 0 0;
}
.list-reviews li {
  padding: 0 0 20px 0;
  margin: 0 0 28px 0;
  border-bottom: 1px solid #c7c7c7;
}
.list-reviews li .img-polaroid {
  float: left;
  margin: 4px 19px 0 0;
}
.list-reviews li .font14 {
  display: block;
  margin-bottom: 8px;
}
.list-updates {
  display: block;
  margin: 0;
}
.list-updates li {
  padding: 0 0 12px 0;
  margin: 0 0 18px 0;
  border-bottom: 1px solid #c7c7c7;
  font-weight: bold;
}
.list-news {
  display: block;
  margin: 0;
  list-style: none;
}
.list-news li {
  padding: 0 0 10px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #c7c7c7;
  overflow: hidden;
}
.list-news li .img-polaroid {
  float: left;
  margin: 5px 19px 0 0;
}
.list-news li span {
  display: block;
  margin-bottom: 8px;
}
.list-news li p {
  margin-bottom: 16px;
}
.div-score {
  float: right;
  width: 90px;
  height: 90px;
  background: #ffe646;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #343333;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 0 0 0;
  margin: 5px 0 0 20px;
}
.div-score span {
  display: block;
  font-size: 33px;
  line-height: 1em;
  font-weight: normal;
}
figure.img-polaroid {
  display: inline-block;
  margin: 0 0 15px 0;
}
.img-polaroid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  margin-bottom: 15px;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.img-polaroid img {
  max-width: inherit;
  width: 100%;
}
.thumbnails {
  margin: 0 0 0 0;
}
.thumbnails .thumbnail {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 30px 0 0 20px;
  padding: 0;
  border: none;
}
.thumbnails .thumbnail strong {
  display: block;
  margin: 0 0 17px 0;
}
.thumbnails .thumbnail .img-polaroid {
  width: 100%;
}
.thumbnails li {
  float: left;
  text-align: center;
}
.thumbnails-1 {
  margin: 0 0 0 0;
}
.thumbnails-1 .thumbnail-1 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 5px 0 25px 20px;
  padding: 0;
  border: none;
}
.thumbnails-1 .thumbnail-1 strong {
  display: block;
  margin: 0 0 8px 0;
}
.thumbnails-1 .thumbnail-1 .img-polaroid {
  width: 100%;
}
.thumbnails-1 li {
  float: left;
  text-align: center;
}
/*------===============HEADER==============------- */
header {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 999;
  padding: 45px 0 0 0;
  height: auto;
  background: #ffffff;
  position: relative;
  z-index: 2;
}
/* navbar */
.navbar_ {
  margin-bottom: 0 !important;
}
.navbar_ .collapse {
  overflow: visible;
}
.navbar_ .brand {
  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 22px;
}
.navbar_ .brand span {
  position: absolute;
  left: -400px;
  display: block;
}
.navbar_ .div-search {
  float: left;
  padding: 22px 0 0 100px;
}
.navbar_ .navbar-inner {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  margin: 0;
  padding: 0;
  min-height: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-collapse_ {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  margin: 44px 0 0 0;
  padding: 0;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #ffffff, #fbfafa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fbfafa));
  background-image: -webkit-linear-gradient(top, #ffffff, #fbfafa);
  background-image: -o-linear-gradient(top, #ffffff, #fbfafa);
  background-image: linear-gradient(to bottom, #ffffff, #fbfafa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffbfafa', GradientType=0);
  border: 1px solid #c7c7c7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-collapse_ .nav {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}
/*nav*/
.nav-collapse_ .nav li {
  position: relative;
  margin: 0;
  padding: 0;
  zoom: 1;
}
.nav-collapse_ .nav li a {
  margin: 0;
  padding: 0;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-collapse_ .nav > li {
  display: inline-block;
  float: left;
  margin: 0;
  width: 188px;
  border-left: 1px solid #c7c7c7;
  font-weight: bold;
}
.nav-collapse_ .nav > li:first-child {
  border-left: none;
  width: 182px;
}
.nav-collapse_ .nav > li > a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  display: block;
  margin: 0;
  padding: 11px 0;
  text-align: center;
  color: #343333;
  font-size: 19px;
  line-height: 35px;
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}
.nav-collapse_ .nav > li.sub-menu:after {
  position: absolute;
  top: 27px;
  left: 90%;
  display: block;
  margin-left: -4px;
  width: 8px;
  height: 4px;
  background: url(../img/indicator.png) 0 0 no-repeat;
  content: '';
}
.nav-collapse_ .nav ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: absolute;
  top: 57px;
  left: -1px;
  z-index: 9;
  display: none;
  margin: 0;
  padding: 0 0 0 0;
  width: 234px;
  background: #171717 ;
  list-style: none;
  zoom: 1;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.nav-collapse_ .nav ul li {
  display: block;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0 6px 12px;
  border-top: 1px solid #4a4a4a;
}
.nav-collapse_ .nav ul li:first-child {
  border-top: none;
}
.nav-collapse_ .nav ul li a {
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}
/*hover for first level*/
.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #1eb0e8;
  border-bottom: 7px solid #040404;
  padding: 11px 0 4px;
}
/*hover for second level*/
.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffe646;
}
/*-----================== HEADER END =================------*/
/*------================== Content =================------- */
#content {
  position: relative;
  padding: 0 0 42px 0;
  background: #ffffff;
  z-index: 1;
}
/*----====================Content end ==================----*/
/*==========================PAGES===========================*/
/*=========================index============================*/
.blog-box {
  background: #f9f9f9;
  border: 1px solid #c7c7c7;
  padding: 27px 15px 27px 29px;
  margin: 10px 0 10px 10px;
}
.blog-box span {
  font-size: 22px;
  line-height: 22px;
  color: #343333;
  display: block;
  font-weight: bold;
  margin-bottom: 11px;
}
.blog-box p {
  margin: 0 0 16px 0;
  color: #343333;
}
.d-block {
  *zoom: 1;
}
.d-block:before,
.d-block:after {
  display: table;
  content: "";
  line-height: 0;
}
.d-block:after {
  clear: both;
}
/*=========================index-1==========================*/
/*=========================index-2==========================*/
/*=========================index-3==========================*/
/*=========================index-4==========================*/
/*=========================index-5==========================*/
/*==========================404=============================*/
.box-404 .span7 img {
  margin: 36px 0 0 0;
}
.block-404 h2 {
  border-bottom: none;
}
.block-404 span {
  display: block;
  margin-bottom: 20px;
}
#search {
  position: relative;
  overflow: hidden;
  margin: 0 0 0 0;
  *zoom: 1;
}
#search:before,
#search:after {
  display: table;
  content: "";
  line-height: 0;
}
#search:after {
  clear: both;
}
#search input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0 0 0 0;
  padding: 9px 10px;
  width: 184px;
  height: 38px;
  border: 1px solid #c7c7c7;
  background: #f9f9f9;
  color: #5b5b5b;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#search input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  position: relative;
  z-index: 1;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #ffffff, #fbfafa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fbfafa));
  background-image: -webkit-linear-gradient(top, #ffffff, #fbfafa);
  background-image: -o-linear-gradient(top, #ffffff, #fbfafa);
  background-image: linear-gradient(to bottom, #ffffff, #fbfafa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffbfafa', GradientType=0);
  float: left;
  margin: 0 0 0 -1px;
  font-weight: bold;
  display: inline-block;
  padding: 7px 18px;
  border: 1px solid #c7c7c7;
  color: #000;
  text-decoration: none;
  text-shadow: none;
  font-size: 15px;
  line-height: 22px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search a:hover {
  background: #99e8b5;
}
#search-404 {
  position: relative;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 14px 0 0 0;
  *zoom: 1;
}
#search-404:before,
#search-404:after {
  display: table;
  content: "";
  line-height: 0;
}
#search-404:after {
  clear: both;
}
#search-404 input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: none;
  margin: 0 0 0 0;
  padding: 9px 10px;
  width: 100%;
  height: 38px;
  border: 1px solid #c7c7c7;
  background: #f9f9f9;
  color: #5b5b5b;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#search-404 input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search-404 a {
  margin: 10px 0 0 0;
  float: right;
}
/*======================Privacy Policy======================*/
/*================CONTACT FORM, MAP, ADRESS=================*/
.map {
  display: block;
  margin: 0 0 0 0;
  line-height: 0;
}
.map iframe {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 424px ;
  border: none;
  line-height: 0;
}
.adress {
  font-size: 12px;
  color: #5b5b5b;
}
.adress em {
  display: block;
  font-style: normal;
  margin-bottom: 17px;
}
.adress span {
  display: block;
}
.adress strong.title1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #00c545;
  display: block;
  margin-bottom: 8px;
}
#contact-form {
  position: relative;
  vertical-align: top;
  z-index: 1;
  margin: 0;
  padding: 3px 0 0 0;
}
.txt-form {
  color: #5b5b5b;
  padding-bottom: 4px;
  display: block;
}
.coll-1,
.coll-2,
.coll-3 {
  float: left;
  width: 199px;
}
.coll-1,
.coll-2 {
  margin-right: 11px;
}
#contact-form div {
  overflow: hidden;
}
#contact-form fieldset {
  border: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.div-message {
  padding: 24px 0 0 0;
}
#contact-form label {
  display: block;
  min-height: 43px;
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
#contact-form .message {
  min-height: 111px;
  display: block !important;
  width: 100%;
}
#contact-form input,
#contact-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 10px;
  margin: 0;
  font-size: 15px;
  line-height: 20px !important;
  color: #5b5b5b;
  background: #f9f9f9;
  outline: none;
  width: 100%;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input {
  height: 38px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#contact-form .area .error {
  float: none;
}
#contact-form textarea {
  width: 100%;
  height: 111px;
  resize: none;
  overflow: auto;
}
#contact-form .success {
  border: 1px solid #464646;
  display: none;
  position: absolute;
  left: 0;
  top: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  background: #131313;
  padding: 14px 10px;
  text-transform: none;
  width: 97%;
  z-index: 20;
}
#contact-form .error,
#contact-form .empty {
  color: #f00;
  font-size: 11px;
  line-height: 1.27em;
  display: none;
  overflow: hidden;
  padding: 2px 4px 0px 0;
  width: 100%;
  text-transform: none;
  position: absolute;
  text-align: right;
  left: auto;
  top: 2px;
  right: 2px;
  cursor: default;
}
#contact-form .message .error,
#contact-form .message .empty {
  bottom: 3px;
  top: auto;
  right: auto;
  left: 2px;
  text-align: left;
}
.buttons-wrapper {
  position: relative;
  padding: 19px 0 4px 0;
}
.buttons-wrapper a {
  float: right;
  margin-left: 8px;
  cursor: pointer;
  margin-top: 0;
}
.buttons-wrapper a:hover {
  text-decoration: none;
}
/*------================== FOOTER ================= ------- */
footer {
  position: relative;
  padding: 27px 0 43px 0 ;
  border-top: none;
  background: #1c1c1c;
  color: #ffffff;
  font-size: 13px;
  line-height: 22px;
  font-weight: bold;
}
footer span {
  font-size: 22px;
  line-height: 1em;
  display: inline-block;
}
footer span a {
  color: #ffffff;
  display: inline-block;
}
footer a {
  color: #ffe646;
}
footer a:hover {
  color: #00c545;
}
.soc-icons {
  float: right;
  *zoom: 1;
  list-style: none;
  margin: 0;
}
.soc-icons:before,
.soc-icons:after {
  display: table;
  content: "";
  line-height: 0;
}
.soc-icons:after {
  clear: both;
}
.soc-icons li {
  float: left;
  margin: 3px 0 0 23px;
}
.soc-icons li a {
  display: block;
}
#icon {
  background: url(../img/icon.png) 0 0 no-repeat;
  width: 21px;
  height: 15px;
}
#icon:hover {
  background-position: 0 bottom;
}
#icon-1 {
  background: url(../img/icon-1.png) 0 0 no-repeat;
  width: 9px;
  height: 18px;
}
#icon-1:hover {
  background-position: 0 bottom;
}
#icon-2 {
  background: url(../img/icon-2.png) 0 0 no-repeat;
  width: 20px;
  height: 13px;
}
#icon-2:hover {
  background-position: 0 bottom;
}
#icon-3 {
  background: url(../img/icon-3.png) 0 0 no-repeat;
  width: 16px;
  height: 12px;
}
#icon-3:hover {
  background-position: 0 bottom;
}
/*---===================== FOOTER END ================------*/
.select-menu {
  display: none !important;
}
/*-----================== MEDIA QUERIES============== ------*/
@media (min-width: 1200px) {
  .nav-collapse_ .nav > li {
    width: 232px;
  }
  .nav-collapse_ .nav > li:first-child {
    width: 234px;
  }
  .thumbnails .thumbnail,
  .thumbnails-1 .thumbnail-1 {
    margin-left: 30px;
  }
  .coll-1,
  .coll-2,
  .coll-3 {
    width: 249px;
  }
  #search-404 input {
    width: 364px;
    float: left;
  }
  #search-404 a {
    float: right;
    margin: 0 0 0 0;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .nav-collapse_ {
    height: auto !important;
  }
}
@media (max-width: 979px) {
  .navbar_ .brand {
    margin-bottom: 10px;
  }
  .navbar_ .nav-collapse_ {
    height: 57px !important;
    float: none;
  }
  .navbar_ .nav-collapse_ .nav {
    float: none;
    text-align: center;
    display: inline-block;
  }
  .nav-collapse_ .nav > li {
    width: 143px;
  }
  .nav-collapse_ .nav > li:first-child {
    width: 145px;
  }
  #contact-form label {
    display: block;
  }
  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }
  .coll-1,
  .coll-2,
  .coll-3 {
    width: 151px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .list-reviews .extra-wrap {
    overflow: visible;
  }
  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }
  .list li .img-polaroid {
    float: none;
    width: 100%;
    margin: 0 0 15px 0;
  }
  .list-news-2 .img-polaroid {
    margin-bottom: 10px;
  }
  .list-news-2 .extra-wrap {
    overflow: visible;
  }
}
@media (max-width: 767px) {
  header {
    position: static;
  }
  .navbar_ .nav-collapse_ .nav {
    display: none;
  }
  .navbar_ .nav-collapse_ {
    height: auto !important;
    border: none;
    margin-top: 20px;
  }
  .select-menu {
    display: block !important;
    margin-bottom: 2px;
    width: 100%;
    border: 1px solid #000303;
    background: #ffe646;
    color: #000;
    cursor: pointer;
  }
  .select-menu option {
    padding-bottom: 3px;
  }
  .navbar_ .navbar-inner {
    text-align: center;
  }
  .navbar_ .brand {
    float: none;
    display: inline-block;
  }
  .navbar_ .div-search {
    float: none;
  }
  .navbar_ #search input {
    width: 100%;
    padding-right: 100px;
  }
  .navbar_ #search a {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }
  .thumbnails .thumbnail,
  .thumbnails-1 .thumbnail-1 {
    float: left;
    width: 40%;
    margin: 20px 20px 0 0;
  }
  .soc-icons {
    float: none;
    margin: 0 0 30px 0;
  }
  .soc-icons li {
    margin: 0 20px 0 0;
  }
  .map iframe {
    height: 250px;
  }
  .coll-1,
  .coll-2,
  .coll-3 {
    width: 100%;
    float: none;
  }
  .list li .img-polaroid {
    margin: 0 15px 15px 0;
  }
}
@media (min-width: 626px) and (max-width: 767px) {
  
}
@media (max-width: 626px) {
  
}
@media (max-width: 530px) {
  .list-reviews .extra-wrap {
    overflow: visible;
  }
}
@media (min-width: 482px) and (max-width: 625px) {
  
}
@media (max-width: 480px) {
  .thumbnails .thumbnail,
  .thumbnails-1 .thumbnail-1 {
    float: none;
    width: 100%;
    margin: 30px 0 0 0;
  }
  .thumbnails .thumbnail .img-polaroid,
  .thumbnails-1 .thumbnail-1 .img-polaroid {
    width: 100%;
  }
  .div-score {
    float: none;
    overflow: hidden;
  }
  .list-reviews .extra-wrap {
    overflow: hidden;
    margin: 30px 0 0 0;
  }
  .list-news .extra-wrap {
    overflow: visible;
  }
  .map iframe {
    height: 150px;
  }
}
@media (min-width: 320px) and (max-width: 481px) {
  
}
@media (max-width: 320px) {
  
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Additional styles */
#best-of-main {
    height: 530px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#best-of-main .navigation {
    background-color: #F5F5F5;
    float: left;
    position: relative;
    width: 175px;
    z-index: 1;
}

#best-of-main .navigation ol {
    left: 0;
    position: relative;
    top: 0;
}

#best-of-main .navigation li.selected {
    border-right: medium none;
}

#best-of-main .navigation li {
    border-right: 1px solid #E5E5E5;
}

#best-of-module > .content {
    border: 1px solid #E5E5E5;
}

#best-of-main .stage {
    float: right;
    margin-left: -200px;
    position: relative;
    width: 100%;
}

#best-of-main .main-content {
    margin: 12px 12px 12px 187px;
    position: relative;
}

ol {
    list-style: none outside none;
}
.tabs-pill{font-size:12px;line-height:1.5em}

.tabs-pill 
.tab{padding:0 6px;cursor:pointer}

.tabs-pill 
.tab:hover a{text-decoration:underline}

.tabs-pill 
.tab.selected{cursor:default;border-radius:8px;background:#efefeb;-webkit-box-shadow:inset 0 1px 0 rgba(40, 40, 21, .18);box-shadow:inset 0 1px 0 rgba(40, 40, 21, .18)}

.tabs-pill 
.tab.selected a{cursor:default;text-decoration:none;color:#333}

.tabs-pill 
.tab.selected.tab-resortable{cursor:pointer}

.tabs-pill 
.tab.selected.tab-resortable a{cursor:pointer}

.tabs-pill 
.count{margin-left:6px;color:#3b65a7;font-weight:bold}

.tabs-pill 
.selected .count{color:#333}

.tabs-pill 
.unread-count{padding:0 4px;margin-left:3px;background:#c41200;color:#fff;border-radius:10px}

.tabs-pill 
.selected .unread-count{padding:0;margin:0 0 0 6px;background:none;border-radius:0;font-weight:bold;color:#333}

.tabs-pill 
.i{margin-left:6px;vertical-align:middle}

.tabs-toggle{border:1px solid #e5e5e5}

.tabs-toggle 
.tab{display:inline-block;float:left;background:#eee;background:-webkit-linear-gradient(#f8f8f8, #eee);background:linear-gradient(#f8f8f8 0%, #eee 100%);border-left:1px solid #e5e5e5;font-size:11px}

.tabs-toggle 
.tab:first-child{border-left:none}

.tabs-toggle.blocky 
.tab{text-align:center;padding-bottom:3px}

.tabs-toggle
.blocky 
.tab
.i{padding-bottom:3px;display:block;margin:0 auto}

.ie7 
.tabs-toggle
.tab{display:inline}

.tabs-toggle a{display:inline-block;padding:4px 10px}

.tabs-toggle 
a:hover{text-decoration:none}

.tabs-toggle 
.selected{background:#f4f4f4;background:-webkit-linear-gradient(#eee, #f8f8f8);background:linear-gradient(#eee 0%, #f8f8f8 100%)}